<p>wizard-list works!</p>
<P>{{data_of_single_wizard | json}}</P>
<P>{{data_of_single_wizard | json}}</P>
<P>{{data_of_single_wizard | json}}</P>

<div class="grid-container row">
<div class="grid-item col-3" *ngFor="let x of data"> 
    <p>Name:{{ x.name  }} <br>
     Species:{{ x.species }} <br>
    <img height="227" width="163" [src]="x.image">
    
    </p>
</div>
</div>


    

 

<button type="button" class="btn btn-primary">Details</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>