
<div class="whole">
    <div class="details">
        <p><b>Name:</b> {{ data.name}}       <b>Alternate Names:</b> {{data.alternate_names}} </p>
        <!-- <p><b>Alternate Names</b></p> -->
        <p><b>Species:</b> {{ data.species }}     <b>Gender:</b> {{ data.gender }}     </p>
        <!-- <p><b>Gender</b></p> -->
        <p><b>House:</b> {{ data.house }}    <b>Date of Birth:</b> {{ data.dateOfBirth}} </p>
        <!-- <p><b>Date of Birth</b></p> -->
        <p><b>Year of Birth</b> {{ data.yearOfBirth }}      <b>Wizard:</b> {{ data.wizard}} </p>
        <!-- <p><b>Wizard</b></p> -->
        <p><b>Ancestry:</b> {{ data.ancestry }}    <b>Eye Colour:</b> {{data.eyeColour}} </p>
        <!-- <p><b>Eye Colour</b></p> -->
        <p><b>Hair Colour:</b>{{ data.hairColour }}     <b>Wand:</b> {{data.wand}} </p>
        <!-- <p><b>Wand</b></p> -->
        <p><b>Patronus:</b>{{ data.patronus }}        <b>Hogwarts Student:</b> {{data.hogwartsStudent}} </p>
        <!-- <p><b>Hogwarts Student</b></p> -->
        <p><b>Hogwarts Staff:</b>{{ data.hogwartsStaff }}   <b>Actor:</b> {{data.actor}} </p>
        <!-- <p><b>Actor</b></p> -->
        <p><b>Alternate Actors:{{ data.alternate_actors }}</b>     <b>Alive:</b> {{data.alive}} </p>
        <!-- <p><b>Alive</b></p> -->
        <p><b>Image</b> {{data.image}}  </p>

    
        
    </div>
</div> 
    



    



